* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: #24303e;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 538px;
  padding-inline: 24px;
  background-image: url(../assets/images/mobile/image-header.jpg);
  background-size: contain;
}

@media screen and (width >= 768px) {
  .header {
    height: 800px;
    padding-inline: 40px 48px;
    background-image: url(../assets/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  text-align: center;
  position: relative;
  top: 30px;
}

@media screen and (width >= 768px) {
  .header__info {
    top: 65px;
    gap: 96px;
  }
}

.title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  letter-spacing: 6.25px;
  font-size: 40px;
  color: #fff;
}

@media screen and (width >= 768px) {
  .title {
    font-size: 56px;
  }
}

.menu {
  display: none;
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 106px;
  left: 24px;
  width: 329px;
  padding: 39px;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.menu::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(130deg, transparent 50%, #fff 50%);
  top: -23px;
  right: 0;
}

@media screen and (width >= 768px) {
  .menu {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row;
    top: -10px;
    left: calc(100% - 520px);
    background-color: transparent;
  }

  .menu::after {
    opacity: 0;
  }

  .icon-menu {
    display: none;
  }
}

.menu__item {
  font-size: 20px;
  line-height: 25px;
  color: #808397;
}

.menu__item--special {
  margin-inline: auto;
  padding: 16px 30px;
  border-radius: 1.75rem;
  color: #24303e;
  background-color: #fbd600;
  font-family: 'Fraunces', serif;
  font-weight: 800;
  font-size: 15px;
}

@media screen and (width >= 768px) {
  .menu__item {
    font-size: 18px;
    color: #fff;
  }

  .menu__item--special {
    color: inherit;

    font-size: 0.9375rem;
  }
}

@media (hover: hover) {
  .menu__item--special:hover {
    color: #fff;
    background-color: rgba(255 255 255 / 0.25);
  }
}

.show {
  display: flex;
}
